<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="static/css/ok">
	<title>Upload</title>
</head>

<style>
	img{
		height: 300px;
	}
</style>
<body>
		<form action="upload" method="POST" enctype="multipart/form-data">
			 {% csrf_token %}
			 
				
				<input type="file" name="image">
				<input type="submit" value="Upload"> 
			 	
			
			<!--<div class="frame">
				<div class="center">
					<div class="title">
						<h1>Drop file to upload</h1>
					</div>
			
					<div class="dropzone">
						<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
						<input type="file" class="upload-input" />
					</div>
			
					<button type="button" class="btn" name="uploadbutton">Upload file</button>
			
				</div>
			</div> 
		</form>
	<!--<script src="static/js/jquery-3.4.1.js"></script>
	<script src="static/js/bootstrap.js"></script> -->
</body>
</html>