{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Welcome page</title>
</head>
<body>

    <div id="ImgHead">
        <img src="img/logo.png" alt="">
    </div>
    <h1> HARMONY </h1>
    <br>
    {% if request.user.is_authenticated %}
    <h2> Welcome {{user}}  </h2>
    {% else %}
        Unauthorized
    {% endif %}
<br>
   
<header> Harmony Music Library </header>
<div>
    <ul>
        <a href="/home/">Home</a>
        <br>

        <a href="/Lyricsform/">Lyrics Form</a> 
             
        
    </ul>

</div>

<br>
<a href="./logout/">logout</a>


    </form>
</body>
</html>